.formControl.error input,
.formControl.error textarea
{
    border: 3px solid red;
}

.errorText {
    color: red;
}

.formSummaryError {
    border: 1px solid red;
    color: yellow;
    padding: 8px;
}